<li class="dropdown">

        <a data-toggle="dropdown" class="  dropdown-toggle" href="#">  Bienvenido: {{ app.user.username }}  <i class="fa fa-user"></i></a>




    <ul class="dropdown-menu">
        <li><a href="{{ path('homepage') }}">Perfil</a></li>
        <li><a href="{{ path("fos_user_change_password")}}">Cambiar contraseña</a></li>
        <li><a href="#">Something</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
    </ul>
</li>