{% extends 'base.html.twig' %}
{% block title %}Home{%endblock %}
{% block content_title %}
    <h1 class="text-center"> A cash cow?
        <small class="subtitle">
            A Cash Cow es un negocio que es la gallina de los huevos de oro
        </small>
    </h1>
{% endblock %}
{% block body %}
    <p>Nuestra aplicación te permitirá consultar una base de datos de los morosos de la Hacienda Española</p>
    <p>Los datos de esta web son públicos pero poco accesibles, por ello, hemos realizado esta web para que
    puedas consultar los datos de forma ágil.</p>
    <p>
        ¿Te imaginas que le debes a Hacienda 6.000 euros? Seguro que no puedes dormir,
        y que sueñas con el ministro de Hacienda todas las noches cuando te despiertas entre sudores fríos.

        Pues ten en cuenta, que la lista de los morosos a la hacienda pública, es sólo de aquellos que deben más de un millón de euros.
        Estos no tienen pesadillas.
    </p>

{% endblock %}


