{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Home{%endblock %}
{% block content_title %}
    <h1 class="text-center"> Registro
        <small class="subtitle">
            Complete los datos del formulario
        </small>
    </h1>
{% endblock %}
{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
